<html>
<head>
    <meta charset="utf-8"/>
    <title>music player</title>
</head>

<body>

<!-- ================= SEARCH BAR (ALWAYS VISIBLE) ================= -->
<form method="GET" style="margin-bottom:20px;">
    <input 
        type="text" 
        name="q"
        placeholder="Search song..."
        value="{{ query|default:'' }}"
    >
    <button type="submit">Search</button>
</form>

<hr>

<!-- ================= SONG DISPLAY ================= -->
{% for item in page_obj %}

<div class="music-player">

    <div class="cover">
        <img src="{% static 'images/Admirin_You.jpg' %}">
         <img src="{% static 'images/Cheap-thrills.jpg' %}">
          <img src="{% static 'images/wanna_be_yours.jpg' %}">
    </div>

    <div class="titre">
        <h3>{{ item.artist }}</h3>
        <h1>{{ item.title }}</h1>
    </div>

    <<center>

{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">
        <i class="fa fa-step-backward fa-2x"></i>
    </a>
{% endif %}

&nbsp;&nbsp;&nbsp;

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">
        <i class="fa fa-step-forward fa-2x"></i>
    </a>
{% endif %}

</center>
    <div class="lecteur">
       <audio controls>
    <source src="{% static 'songs/Admirin_You.mp3' %}" type="audio/mp3">
    <audio controls>
    <source src="{% static 'songs/Cheap-thrills.mp3' %}" type="audio/mp3">
    <audio controls>
    <source src="{% static 'songs/I_Wanna_Be_Yours.mp3' %}" type="audio/mp3">
</audio>
            <source 
                src="{% if item.audio_file %}{{ item.audio_file.url }}{% else %}{{ item.audio_link }}{% endif %}" 
                type="audio/mp3"
            />
        </audio>
    </div>

</div>

<div class="right-section">
    <div class="lyrics-container">
        <div class="lyrics">
            <p class="song-lyrics" data-lyrics="{{ item.lyrics }}"></p>
        </div>
    </div>
</div>

<hr>

{% empty %}
<!-- EMPTY PAGE (when no search OR no result) -->
{% endfor %}

</body>
</html>